<nav class="navbar navbar-custom">
    <div class="container-fluid">
		<div class="navbar-form navbar-right">
            <div class="btn-group btn-group-lg" role="group">
                <button type="button" id="playCurrent" class="btn btn-success"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play</button>
                <button type="button" id="stopCurrent" class="btn btn-warning"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop</button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
                <button type="button" data-toggle="modal" data-target="#confirmRemoveAll" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove All</button>
            </div>
		</div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-sm-5">
            <div class="row">
                <div class="youtube">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="input-group-lg">
                                <input type="text" class="form-control" id="youtubeLink" placeholder="Youtube Video or Playlist">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group" role="group">
                                    <button id="addNext" class="btn btn-primary btn-lg">Add Next</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button id="addLast" class="btn btn-primary btn-lg">Add Last</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="local">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="input-group-lg">
                                <div class="dropdown">
                                    <select class="form-control" id="localLink">
                                        {{#each files}}
                                            <option>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group" role="group">
                                    <button id="addNextLocal" class="btn btn-primary btn-lg">Add Next</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button id="addLastLocal" class="btn btn-primary btn-lg">Add Last</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1">
			<ul id="videos" class="list-group">
				{{#each playing}}
                    <li id="{{this.id}}" class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="{{this.image.url}}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{this.title}}</h4>
                            </div>
							<div class="media-right">
                                <div class="btn-group-vertical" role="group">
                                    <button type="button" class="btn btn-default btn-lg play" data-id="{{this.id}}">
										<span class="glyphicon glyphicon-play-circle"></span>
									</button>
                                    <button type="button" class="btn btn-default btn-lg remove" data-id="{{this.id}}">
										<span class="glyphicon glyphicon-remove-circle"></span>
									</button>
								</div>
							</div>
                        </div>
					</li>
				{{/each}}
			</ul>
        </div>
    </div>
</div>

<script id="list-item-template" type="text/x-handlebars-template">
	<li id="\{{this.id}}" class="list-group-item">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="\{{this.image.url}}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">\{{this.title}}</h4>
            </div>
            <div class="media-right">
                <div class="btn-group-vertical" role="group">
                    <button type="button" class="btn btn-default btn-lg play">
                        <span class="glyphicon glyphicon-play-circle"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-lg remove">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
            </div>
        </div>
    </li>
</script>

<div class="modal fade" id="confirmRemoveAll" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm</h4>
            </div>

            <div class="modal-body">
                <p>You are about to remove all videos.</p>
                <p>Do you want to proceed?</p>
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a id="removeAllConfirmed" href="#" class="btn btn-danger danger">Remove All</a>
            </div>
        </div>
    </div>
</div>